//
// Variables
//------------------------------------>
$font-stack: Helvetica, sans-serif;
$primary-color: blue;


//
// Main Container Styling
//------------------------------------>

.main_container {
	padding: 0;
}

.container-fluid .jumbotron {
	background-color: #2d80c2;
	color: white;
	border-radius: 0px;
}

.jumbotron p {
	font-size: 15px;
	font-weight: 100;
}

