$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body {
  padding: 0;
}

.container-fluid {
  margin: 0 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  text-align: center;
  color: white;
  background-color: #2d80c2;
  border-top: 1px solid #e5e5e5;
}

.tweet {
  .tweetCard {
    height: 360px;
    width: 225px;
    margin: 50px auto;
    background-color: #1abc9c;
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.7);
    padding: 25px;
    text-align: center;

    * {
      position: relative;
      top: -70px;
    }
  }

  img {
    width: 125px;
    border-radius: 50%;
    border: 12px solid #1abc9c;
  }

  h1, p, .follow {
    padding: 0;
    margin: 10px 0 10px 0;
  }

  h1 {
    color: #3E3F40;
    font-weight: 600;
    font-size: .9em;
  }

  p, a {
    color: white; 
    font-size: .9em;
    font-weight: 600;
    text-decoration: none;
  }

  a {
    font-size: .7em;
    transition: color ease-on-out 1s;
  }

  a:hover {
    color: #3E3F40;
  }

  .follow {
    display: inline-block;
    background-color: white;
    height: 35px;
    width: 150px;
    border: 0;
    line-height: 35px;
    border-radius: 55px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    border-bottom: 3px rgba(0,0,0,.3);
    font-size: .7em;
    color: #1abc9c;
    transition: all ease-in-out 1s;
    cursor: pointer;
  }

  .follow:hover {
    background-color: #16a085;
    color: #ecf0f1;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}