<h3 class="text-center">Toggle the 'Reverse Tweet' button to reverse only that respective text <hr></h3>

<div class="row">
  <div class="tweet col-md-6 col-sm-6 col-xs-12" ng-repeat="tweet in tweets">
    <div class="tweetCard">
      <img ng-src="{{ tweet.author.avatar }}" />
      <h1>{{ tweet.author.fullName }}</h1>
      <a class="follow" href="{{ tweet.author.url }}">Follow Me</a>
      <a class="follow reverse-button" >Reverse Tweet</a>
      <p class="text-to-reverse">{{ tweet.text }}</p>
      <a href="http://{{ tweet.permalink }}" target="_blank">{{ tweet.permalink }}</a>
    </div>
  </div>
</div>